/* === Life Section Wrapper === */
.life-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin: 2rem 0;
  background: linear-gradient(135deg, #2c2c2c, rgb(20, 17, 17));
  border-radius: 16px;
}

/* === Title === */
.life-title {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 3px solid #ff4646;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

/* === Content Wrapper (text + images) === */
.life-content {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  width: 100%;
}

/* Responsive: text + image side by side on larger screens */
@media (min-width: 768px) {
  .life-content {
    flex-direction: row;
    align-items: start;
    justify-items: center;
  }
}

/* === Text Content === */
.life-text {
  flex: 1;
}

.life-text>div {
  margin-bottom: 1.5rem;
}

.life-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: #ffffff;
  text-decoration: underline 5px #ff4646;
}

.life-text p {
  color: #ffffff;
}

/* === Images === */
.life-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  ;

}

.life-images img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ff4646;
  box-shadow: 0 10px 100px rgba(114, 114, 114, 0.568);
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}